/* left menu settings link */
.oin9Fc.cQ.lN {
  display: none;
}

/* left menu feedback link */
.oin9Fc.cQ.oCKk2 {
  display: none;
}

/* top menu account and chat links */
.rs.k2 {
  display: none;
}
